* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color:black ;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: white;
}
body nav ul li  { 
    font-size: 50px;
    display: inline;
    
}
ul{
    text-decoration: none;
    text-align: center;
}
.navi{
    margin: 100px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
    border: 1px solid green;
    border-radius: 50px;
}

figure img{
    height: 400px; ;
    float:left;
    padding: 5px 20px 15px 15px
    
}
#para2{
    margin: 10px;
}

.flex-container{
    display: flex;
    background-color: coral;
    flex-flow: wrap;
}
.flex-container .reg-project{
    font-size: 30px;
    padding:300px;
    border: 5px, solid,black;
    border-radius:  50px; 
    height: 300px;
    width: 50%;
    text-align: center;
}
.reg-project a{
    background-color: white;
    border:black;
    border-style: solid;
    text-decoration: none;
    font-size: 50px;
}
#main-project{
    font-size: 30px;
    background-image: url(../assets/images/horiseon.png);
    background-size: cover;
    text-align: center;
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
}

#main-project a{
    background-color: white;
    border: black;
    border-style: solid;
    text-decoration: none;
    font-size: 50px;
    padding: 300;
}
#two{
    background-image:url(../assets/images/surf.jpg);
background-size: cover;
}
#three{
    background-image: url(../assets/images/run\ buddy.PNG);
background-size: cover;
}
#four{
    background-image: url(../assets/images/robots.jpg);
    background-size: cover;
}
#five{
    background-image: url(../assets/images/ecommerce.png);
    background-size: cover;
}
.about-me{
    font-size: 20px;
    padding: 0mm;
    margin: 0mm;
}

.section-header{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    position: relative;
}
    
main{
    border-color: cornflowerblue;
    height: 405px;
    padding: 5px;
    border: darkgreen;
    border-style: groove;
    background-color: sandybrown;
    width: 100%;
}

.Contact-section{
    background-color:rgb(70, 60, 211);
    
}
.Contact-section div{
    display: inline;
    font-size: 20px;
    margin-left: 150px;
    font-weight: bold;
}

.my-work-section{
    border-style: groove;
    border-color: darkred;
    margin:0;
    background-color: orangered;
    margin-bottom: 0;
    width: 100%;
}
.nav-button{
    padding:0px 75px;

}

.hero{
    background-image: url(../assets/images/Hero.jpg);
    background-size: cover;
    background-repeat: none;
    padding-bottom: 550px;
    width: 100%;
}

#main-project{ padding: 30px;}

footer{
    border: solid 5px orange;
    padding: 10px;
}

.contact-links{
    text-decoration: none;
    font-size: 20px;
    margin: 100px;
    font-weight: bold;
}
#email-address{
    margin-right: 200px;
}
@media screen and (max-width: 920px){
    main{
        height: 600px;
    }
@media screen and (max-width: 768px){
    main{
        height:700px
    }
@media screen and (max-width: 576px){
    main{
        height:900px
    }
@media screen and (max-width: 476px){
    main{
        height:900px
    }
    .navi{
        font-size:25px ;
    
    }
    .my-work-section{
    width: 600px;
    }
    main{
    width: 600px;
    }
    .hero{
    width: 600px;
    }
        
    
