* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color:rgb(115, 115, 175) ;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
body nav ul li  { 
    font-size: 50px;
    display: inline;
    
}
ul{
    text-decoration: none;
    text-align: center;
}
.navi{
    margin: 100px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
    border: 1px solid green;
    border-radius: 50px;
}

figure img{
    height: 400px; ;
    float:left;
    padding: 5px 20px 15px 15px
    
}
#para2{
    margin: 10px;
}

.flex-container{
    display: flex;
    background-color: coral;
    flex-flow: wrap;
}
.flex-container .reg-project{
    font-size: 30px;
    margin: 10;
    padding:30px;
    border: 5px solid;
    border-radius:  50px; 
    height: 600px;
    width: 700px;
}
#main-project{
    display: block;
    background-image: url(../assets/images/horiseon.png);
    background-size: cover;
}
#two{
    background-image:url(../assets/images/surf.jpg);
background-size: cover;
}
#three{
    background-image: url(../assets/images/run\ buddy.PNG);
background-size: cover;
}
#four{
    background-image: url(../assets/images/robots.jpg);
    background-size: cover;
}
.about-me{
    font-size: 20px;
    padding: 0mm;
    margin: 0mm;
    }

.section-header{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    position: relative;
    }
    
main{
    border-color: cornflowerblue;
    height: 405px;
    padding: 5px;
    border: darkgreen;
    border-style: groove;
    background-color: sandybrown;
}

.Contact-section{
    background-color:springgreen;
    
}
.Contact-section div{
    display: inline;
    font-size: 20px;
    margin-left: 200px;
    font-weight: bold;
}

.my-work-section{
    border-style: groove;
    border-color: darkred;
    margin:0;
    background-color: orangered;
    margin-bottom: 0;
}
.nav-button{
    padding:0px 75px;

}

.hero{
    background-image: url(../assets/images/Hero.jpg);
    background-size: cover;
    background-repeat: none;
    padding-bottom: 550px;
}

#main-project{ padding: 30px;}

footer{
    border: solid 5px red;
    padding: 10px;
}

.contact-links{
    text-decoration: none;
    font-size: 20px;
    margin: 100px;
    font-weight: bold;
}

#four{}