* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    background-color: ;
}
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
body nav ul li  { 
    font-size: 50px;
    display: inline;
    
}
ul{
    text-decoration: none;
    text-align: center;
}
.navi{
    margin: 100px;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

button{
    border: 1px solid green;
    border-radius: 50px;
}

figure img{
    height: 400px; ;
    float:left;
    padding: 5px 20px 15px 15px
    
}
#para2{
    color: brown;
    margin: 10px;
}

.flex-container{
    display: flex;
    background-color: coral;
    flex-direction: column;
    font-size: 30px;
    margin: 10;
    padding:30px;
    border: 5px solid;
    border-style: dotted;
}
.about-me{
    font-size: 20px;
    padding: 0mm;
    margin: 0mm;
    }

.section-header{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    position: relative;
    }
    
main{
    border-color: cornflowerblue;
    height: 405px;
    padding: 5px;
}

.contact-me div{
    display: inline;
    font-size: 20px;
    margin-left: 200px;
    font-weight: bold;
}
main{
    border: darkgreen;
    border-style: groove;
}

.my-work-section{
    border-style: groove;
    border-color: darkred;
    margin: 10px 0px;
}
.nav-button{
    padding:0px 75px;

}

.hero{
    background-image: url(../assets/images/Hero.jpg);
    background-size: cover;
    background-repeat: none;
    padding-bottom: 550px;
}
.contact-pieces{
    text-align: ;
}


